<div class="align-center">
  <h2>התחברות הדיירים</h2>
  <form #authForm="ngForm" (ngSubmit)="onSubmit()">
    <input
      placeholder="אימייל"
      type="email"
      name="email"
      [(ngModel)]="user.email"
      required
      email
    />
    <input
      placeholder="סיסמה"
      type="password"
      name="password"
      [(ngModel)]="user.password"
      required minlength="6"
    />
    <div class="btn-div">
      <button type="submit" [disabled]="!authForm.valid"  class="login-btn">
        Login
      </button>
    </div>
  </form>
  <a *ngIf="loginService.error" class="red" >{{loginService.error}}</a>
</div>
