<app-tenant *ngIf="showNavBarFromParent"></app-tenant>
<table class="styled-table">
  <thead>
  <tr>
    <th>שם פרטי</th>
    <th>מספר דירה</th>
    <th>כתובת</th>
    <th>סכום התשלום</th>
    <th>תאריך התשלום</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let payment of paymentHistoryService.paymentHistoryList">
    <td>{{ payment.name |shorten:6}}</td>
    <td>{{ payment.apartmentNumber }}</td>
    <td>{{ payment.address  }}</td>
    <td>{{ payment.paymentAmount }}</td>
    <td>{{ payment.historyPayment | date:'fullDate' }}</td>
  </tr>
  </tbody>
</table>
